{% set title = 'Главная' %}

{% extends './layouts/default.njk' %}

{% block content %}
    {% include "../blocks/modules/header/header.njk" %}
    <main class="content">main</main>
    {% include "../blocks/modules/footer/footer.njk" %}
{% endblock %}